<!DOCTYPE html>
<html>
<head>
    <title>게시글 생성</title>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
    
    <title>OpenBlunder</title>

    <!--css 코드-->
    <link type = "text/css" rel="stylesheet" href="/css/inputDesign.css">


    <!-- 부트스트랩 코드-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <style>       
        #comments {
            height :  100%; 
            width : 100%;
        } 
        
    
  footer {
            background-color: #f2f2f2;
  
  }
  
  
    
    </style>
    
</head>
<body>

<!-- Navbar -->

      <!-- Navbar -->
    <nav class="navbar navbar-default"  >
          <div class="container">
          <div class= "navbar-header ">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
              </button>
              <a class="navbar-brand" th:href="(${user != null}) ? @{/home} : @{/guest}">OpenBlunder</a>
          </div>

          <!-- 로그인 상태일 때 -->
			<div class="buttons navbar-right" th:if="${user != null}">
			  <ul class="nav navbar-nav" style="display: flex; align-items: center;">
			    <li>
			      <a th:href = "@{/profile}"><img th:src="@{/assets/{file}(file=${user.profilePhoto})}" style="height: 30px; width: 30px;"></a>
			    </li>
			    <li style="display: flex; align-items: center; margin-left: 10px;">
			      <p style="margin: 0;">logined as: <span th:text="${user.username}"></span></p>
			    </li>
			    <li style="margin-left: 10px;">
			      <a th:href="@{/logout}">Logout</a>
			    </li>
			  </ul>
			</div>
			
			<!-- 비로그인 상태일 때 -->
			<div class="buttons navbar-right" th:unless="${user != null}">
			  <ul class="nav navbar-nav" style="display: flex; align-items: center;">
			    <li><a th:href="@{/login}">Login</a></li>
			    <li style="margin-left: 10px;">
			      <form th:action="@{/signup}" method="get" style="margin: 0;">
			        <button type="submit" class="btn btn-default" style="margin: 0; padding: 6px 12px;">회원가입</button>
			      </form>
			    </li>
			  </ul>
			</div>

          <!-- 메뉴바 -->
          <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a th:href="@{/posts}">게시판</a></li>
                <li><a th:href="@{/practice}">블런더</a></li>
                <li><a th:href="@{/quiz}">퀴즈</a></li>
              </ul>
          </div>
          </div>
      </nav>


    <!--  -->
    <section class = "fluid-container " style="margin: auto; padding-top : 20px; width : 80%; 
    height : 100%;  border-radius: 10px; border: 1px solid #c9c9c9; position: relative; ">
      
      <form th:action="@{/posts/{id}/edit(id=${post.id})}" method="post">
      
	        <h1 style = "padding-left : 10%; color : grey"> 게시글 수정</h1>
	        <hr style = "width: 80%;  border: 1px solid #c9c9c9;">
	    
	    	<div class = "row" style = "padding-left : 10%; width: 93%; text-align:center">
	        <!-- 제목 입력 -->
				<label style="width: 100%; text-align:center ">
				    <textarea class="form-control" id="title" name="title"
          rows="1" style="width: 100%; height: 50px;" required
          th:text="${post.title}">hhh</textarea>
				 </label>
				
				<hr>
				
				<!-- PGN 입력 -->
				  <label style="width: 100%;text-align:center ">
				    <textarea class="form-control" id="pgn" name="pgn"
				              placeholder="PGN을 입력하세요" rows="3"
				              style="width: 100%;"></textarea>
				  </label>
				  
				  <br>
				  
				<!-- 에디터 -->
				  <div id="editor" th:utext="${post.content}" style="height: 300px; width: 100%; max-width: 100%; margin: 0 auto; "></div>
				  <input type="hidden" name="content" id="content" />
			</div>
			
			<!-- 완료 버튼 -->
			<div class="row" style="text-align: right; margin-top: 20px; padding-right: 10%;">
			  <button type="submit" class="btn btn-default" onclick="submitPost()">완료</button>
			</div>
	<br>

    	</form>
    	
    </section>

    
<br>
<br><br><br><br> <!--임시 방편 -->
<br>
  <!--하단 관련정보-->
    <footer class="container-fluid bg-3">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
          <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Cheongju, South Korea</p>
            <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
            <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
            <p><a href = "example.html">For detailed info, click here</a></p>
          </div>
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-6 form-group">
                <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
              </div>
              <div class="col-sm-6 form-group">
                <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
              </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
              <div class="col-sm-12 form-group">
                <button class="btn btn-default pull-right" type="submit">Send</button>
              </div>
            </div>
          </div>
        </div>
    </footer>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script> 
<script> const quill = new Quill('#editor', { theme: 'snow' }); function submitPost() { document.getElementById('content').value = quill.root.innerHTML; } </script> 

</body>
</html>

