<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>프로필 수정</title>
    <!-- 부트스트랩 코드-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
    #submit{
        display: block;
        background-color : #939393;
        color : white;
        border-radius : 5px;
        font-size: 20px;
        width : 20%;
        height : 50px;
        margin: 0 auto;
    }
  #map, .leaflet-container {
      box-sizing: border-box;
  }
    
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="(${user != null}) ? @{/home} : @{/guest}">OpenBlunder</a>
            </div>

            <div class="buttons navbar-right">
                <ul class="nav navbar-nav" style="display: flex; align-items: center;">
                    <li><a th:href="@{/profile}"><img th:src="@{/assets/{file}(file=${user.profilePhoto})}" style="height: 30px; width:30px;"></a></li>
                    <li><p th:if="${user != null}">logined as : <span th:text="${user.username}"></span></p></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/posts}">게시판</a></li>
                    <li><a th:href="@{/practice}">블런더</a></li>
                    <li><a th:href="@{/quiz}">퀴즈</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="profile" class="fluid-container" style="margin: auto; padding-top: 20px; width: 80%; border-radius: 10px; border: 1px solid #c9c9c9;">
        <form th:action="@{/edit}" th:object="${user}" method="post">
            <div class="row">
                <div class="col-sm-2" style="text-align: center;">
                    
                </div>

                <div class="col-sm-9" style="border-radius: 10px; border: 1px solid #c9c9c9; padding-right:10%;">
                   <br>

                   
                    <div class="form-group" style="padding-left: 10%; padding-right: 10%;">
                        <label><span class="glyphicon glyphicon-user"></span> 아이디 :</label>
                        <input type="text" th:field="*{username}" required class="form-control" />
                    </div>

                    <div class="form-group" style="padding-left: 10%; padding-right: 10%;">
                        <label><span class="glyphicon glyphicon-envelope"></span> 이메일:</label>
                        <input type="email" th:field="*{email}" required class="form-control" />
                    </div>

                    <div class="form-group" style="padding-left: 10%; padding-right: 10%;">
                        <label><span class="glyphicon glyphicon-lock"></span> 비밀번호:</label>
                        <input type="password" th:field="*{password}" required class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top: 20px;">
                <div class="col-sm-2" style="text-align: center;"></div>
                <div class="col-sm-9" style="border-radius: 10px; border: 1px solid #c9c9c9; padding-right:10%;">
                	<br>
                	
                  <div class="form-group" style="padding-left: 10%; padding-right: 10%;">
	                   <label>프로필 사진 선택:</label><br>
		                    <div>
		                        <label th:each="img : ${profileImages}" style="margin-right:10px; cursor:pointer;">
		                            <input type="radio" name="profilePhoto" th:value="${img}" th:checked="${user.profilePhoto == img}" />
		                            <img th:src="@{/assets/{file}(file=${img})}" alt="프로필사진" width="50" />
		                        </label>
		                    </div>
                   </div>
                	
					<!-- 안드로이드에서 했던 경험을 살려서 다일로그로 처리함 / 뭔 지도가 지 마음대로 조각내냐 -->
					<div class="form-group" style="padding-left: 10%; padding-right: 10%;">
					    <label><span class="glyphicon glyphicon-map-marker"></span> 국가:</label>
					    <div class="input-group">
					        <input type="text" id="nationInput" name="nation" class="form-control" placeholder="국가 입력" readonly />
					        <span class="input-group-btn">
					            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#countryModal">국가 선택</button>
					        </span>
					    </div>
					</div>
					
					<!-- 지도 다이얼로그 (Bootstrap Modal) << 다일로그 자체는 이걸로 추천하길래 사용하기로 함  -->
					<div class="modal fade" id="countryModal" tabindex="-1" role="dialog" aria-labelledby="countryModalLabel">
					  <div class="modal-dialog modal-lg" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h4 class="modal-title" id="countryModalLabel">국가 선택</h4>
					      </div>
					      <div class="modal-body">
					        <div id="map" style="height: 500px; width: 100%;"></div>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					      </div>
					    </div>
					  </div>
					</div>

                    <div class="form-group" style="padding-left: 10%;">
                        <label><span class="glyphicon glyphicon-calendar"></span> 가입일:</label>
                        <p><span th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd')}"></span></p>
                    </div>
                </div>
            </div>
            
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
/**
  
 분명 지도 로직은 기존 단독으로는 작동해 
 근데 왜 부트스트랩 같이 필수적으로 추가해야 하던거랑 충돌하냐고 
 그래도 결국 다시 만들었으니까 된건가
 
 **/
    let map;

    $('#countryModal').on('shown.bs.modal', function () {
        if (!map) {
            map = L.map('map').setView([20, 0], 2);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; OpenStreetMap contributors'
            }).addTo(map);

            fetch('https://raw.githubusercontent.com/johan/world.geo.json/master/countries.geo.json')
                .then(res => res.json())
                .then(data => {
                    L.geoJSON(data, {
                        style: {
                            color: '#3388ff',
                            weight: 1,
                            fillOpacity: 0.2
                        },
                        onEachFeature: function (feature, layer) {
                            layer.on('click', function () {
                                const name = feature.properties.name;
                                document.getElementById('nationInput').value = name;
                                $('#countryModal').modal('hide');
                            });
                        }
                    }).addTo(map);
                });
        } else {
            setTimeout(() => {
                map.invalidateSize();
            }, 300); 
        }
    });
</script>


            
            
            

            <div style="text-align: center; padding-top: 20px;">
                <button id="submit" type="submit">수정 저장</button>
            </div>
        </form>
                
        <br>        
        <br>        
        <br>
        <br>
    </section>

    <footer>
        <br>
        <hr style="width: 50%; margin: auto; border: 1px solid #c9c9c9;">
        <br>
        <div class="container text-center">
            <p>© 2025 OpenBlunder. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
