<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>프로필 페이지</title>
    
    


    <!-- 부트스트랩 코드-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
    #submit{
        display: block;
        
        background-color : #939393;
        color : white;
        border-radius : 5px;

        font-size: 20px;
        
        width : 20%;
        height : 50px;
        padding : auto;

        margin: 0 auto;
        
    }
  footer {
            background-color: #f2f2f2;
    }
    </style>
</head>
<body>
      <nav class="navbar navbar-default"  >
          <div class="container">
          <div class= "navbar-header ">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
              </button>
              <a class="navbar-brand" th:href="(${user != null}) ? @{/home} : @{/guest}">OpenBlunder</a>
          </div>

          <!-- 로그인 회원가입 버튼 -->
          <div class = "buttons navbar-right" >
            <ul class="nav navbar-nav" style = "display: flex;  align-items: center; ">
              
              <li><a th:href="@{/profile}"><img th:src="@{/assets/{file}(file=${user.profilePhoto})}" style = "height : 30px; width:30px;"></a></li>
              <li><p th:if="${user != null}">logined as : <span th:text="${user.username}"></span></p></li>
              <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
          </div>

          <!-- 메뉴바 -->
          <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a th:href="@{/posts}">게시판</a></li>
                <li><a th:href="@{/practice}">블런더</a></li>
                <li><a th:href="@{/quiz}">퀴즈</a></li>
              </ul>
          </div>
          </div>
      </nav>
    
    <section id = "profile" class = "fluid-container " style="margin: auto; padding-top : 20px; width : 80%; 
                height : 600px;  border-radius: 10px; border: 1px solid #c9c9c9;">

        <div class = "row">
            <div class = "col-sm-2" style ="text-align: center;"></div>
            <div class = "col-sm-9" >
                <h3 style = "color : #989898">주요 정보</h3>
            </div>
        </div>

        <div class = "row">

            <div class = "col-sm-2" style ="text-align: center;">
                <p><img th:src="@{/assets/{file}(file=${user.profilePhoto})}" alt = "프로필 사진" style = "width: 100px; height: auto; border-radius: 50%;"></p>
       
            </div>
            <div class = "col-sm-9" style = "border-radius: 10px; border: 1px solid #c9c9c9; padding-right:10%;">
                <h3 style = "padding-left : 10%"><span class = "glyphicon glyphicon-user"></span> 닉네임: <span th:text="${user.username}"></span> </h3>
                <hr style = "width: 80%;  border: 1px solid #c9c9c9;">
                <h3 style = "padding-left : 10%"><span class = "glyphicon glyphicon-envelope"></span>이메일: &nbsp;<span th:text="${user.email}"></span></h3>
            </div>

        </div>
        
       <div class = "row">
            <div class = "col-sm-2" style ="text-align: center;"></div>
            <div class = "col-sm-9" >
                <h3 style = "color : #989898">기타 정보</h3>
            </div>
        </div>
        
        <div class = "row" style = "padding-top: 20px;">
            <div class = "col-sm-2" style ="text-align: center;"> </div>
            <div class = "col-sm-9" style = "border-radius: 10px; border: 1px solid #c9c9c9; padding-right:10%; ">
             
               
                <h3 style = "padding-left : 10%"> <span class="glyphicon glyphicon-map-marker"></span> 국가 :<span th:text="${user.nation} ?: '미등록'"></span> </h3>
                <hr style = "width: 80%;  border: 1px solid #c9c9c9;">
                <h3 style = "padding-left : 10%"><span class = "glyphicon glyphicon-calendar"></span> 가입일: <span th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd')}"></span></h3>
            </div>
        </div>

        <div style = "text-align: center; padding-top: 20px;">
            <a th:href="@{/edit}" class="btn btn-default" id="submit">회원정보 수정</a>
        </div>
        

    </section>
    
<br><br><br>
  <!--하단 관련정보-->
    <footer class="container-fluid bg-3">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
          <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Cheongju, South Korea</p>
            <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
            <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
            <p><a href = "example.html">For detailed info, click here</a></p>
          </div>
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-6 form-group">
                <input class="form-control" id="name" name="name" placeholder="Name" type="text">
              </div>
              <div class="col-sm-6 form-group">
                <input class="form-control" id="email" name="email" placeholder="Email" type="email">
              </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
              <div class="col-sm-12 form-group">
                <button class="btn btn-default pull-right" type="submit">Send</button>
              </div>
            </div>
          </div>
        </div>
    </footer>
</body>
</html>
